body {
    text-align: center;
}

#info {
    background-color: grey;
    color: white;
    font-size: 20px;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {

    font-size: 20px;
    padding: 6px 22px;
    border-radius: 18px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.row::after { content: "";
clear: both;
display: table;
}
.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid linc7c7c7;
}
.travel_mainDiv img{
    height:250px;
}

. rave _mainDiv img {
    width: 100%;
    height: 300px;
}
    .travel_mainDiv hr {
        width: 100%;
}
        .travel_mainDiv h5 , .travel_mainDiv p {
            margin-left: 20px;
}

.img_modal
  {
    display: inline-block;
      height: 300px;
      width: 200px;
  }
.modal-body
{
    text-align: center
}
.p_modal
  {
      margin-top: 10px;
}
.book img{
    height:300px;
    width: 300px;
}
#details img{
    height: 200px;
    width: 200px;
}
.environment_li img{
    height: 300px;
}